#Need define ROOT!!!
BOOT=boot.bin
BOOT_LOAD_SEG=0x7c0
BOOT_START_FUN=_start
KERNEL_ENTRY_ADDRESS=0x100000 #1MB + 1KB
KERNEL_ENTRY_FUN=_start
KERNEL_ELF=$(ROOT)/kernel.elf

ISO=os.iso

AS=x86_64-pc-linux-gnu-as
CC=x86_64-pc-linux-gnu-gcc-4.7.3
LD=x86_64-pc-linux-gnu-ld
RM=rm -rf
QEMU=qemu-system-x86_64
BOCHS=bochs
TOBINARY=objcopy -O binary
MKRESCUE=grub2-mkrescue

CFLAGS=-I $(ROOT)/include -c -fno-builtin -std=gnu99 -O3 -Wall -Werror \
   -fno-strict-aliasing -mcmodel=large -nostdlib -m64 \
   -ffreestanding -mno-red-zone	-mno-mmx -mno-sse -mno-sse2 -mno-sse3 -mno-3dnow
ASFLAGS=-I $(ROOT)/include 
LDFLAGS_BIN=--oformat binary -e $(BOOT_START_FUN) -Ttext 0x0
LDFLAGS_ELF=-Map $(ROOT)/map.map -s
QEMUFLAGS=-cdrom $(ISO) -boot d
BOCHSFLAGS=

CFLAGS_USER=-I $(ROOT)/user/include -c -fno-builtin -std=gnu99 -O3 -Wall -Werror \
   -fno-strict-aliasing -mcmodel=large -nostdlib -m64 \
   -ffreestanding -mno-red-zone	-mno-mmx -mno-sse -mno-sse2 -mno-sse3 -mno-3dnow \
   -ffunction-sections -fdata-sections
LDFLAGS_USER=--gc-sections -s
LDCRT_USER=$(ROOT)/user/lib/.obj/*
ASFLAGS_USER=
